.contenedor{
	width:95%;
	max-width:1000px;
	margin: auto;
	font-family:Arial, Helvetica, sans-serif;
	background: white;
}	
body{
	
	font-family: Arial, Verdana, Tahoma;
	font-size: 14px;
	color: #666;
}
			
			* {
				margin:0px;
				padding:0px;
			}
			p {
  margin-bottom: 20px;
}
			
			#header {
				margin: auto;
				width: 550px;
				
				
			}
			
			ul, ol {
				list-style:none;
			}
			
.nav {
				width:500px; /*Le establecemos un ancho*/
				margin:45px 230px ;
				background:black;
			}
 
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#5882FA;
				color:#000;
				text-decoration:none;
				padding:15px 37px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#FFBF00;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:130px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
				
			}
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			
			.menu-fixed{
		position:absolute;
	
	}
	
	/*footer*/ 
	
	.footer{	
				
				background-color:#5882FA;
				color:black;
				text-decoration:none;
				padding: 10px 400px;
				font-family:Arial, Helvetica, sans-serif;
				list-style:none;
				font-size: 12;
				text-align:center;
				
}   
	a:link {   
					text-decoration:none;   
					
					}
					
					.footer> li {
				float:left;
				margin-left:26px;
				margin-top:26;
			}

			.footer> br {
				margin-top: -2;
			}
			/* galeria*/
			

.container{
	width: 800px;
	height: 420px;
	padding: 20px;
	border:solid 1px #999;
	margin:auto;
	background-color:#F1F1F1;
}
#slider{
	position: relative;
	width: 700px;
	height: 400px;
	padding: 10px;
	background-color: #000;
	margin: 0 auto;
}
#slider > div{
	position: absolute;
	width: 100%;
	height: 100%;
}

.containera{
	width: 950px;
	height: 290px;
	padding: 20px;
	border:solid 1px #999;
	margin:auto;
	background-color:#F1F1F1;
}
#slider1{
	position: relative;
	width: 930px;
	height: 270px;
	padding: 10px;
	background-color: #000;
	margin: 0 auto;
}
#slider1 > div{
	position: absolute;
	width: 100%;
	height: 100%;
}